.carousel-container {
	right: 0 !important;
	left: 2% !important;
}

.carousel-control {
	width: 5% !important;
}

.carousel-control {
	border: none !important;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: auto;
}

.carousel-btn-left {
	left: 0 !important;
}

.carousel-height {
	min-height: 500px;
	width: 100%;
/* 	filter: brightness(70%); */
	max-height: 650px;
}

@media screen and (min-width: 768px) {
	.carousel-indicators {
		top: 20px !important;
		height: 20px;
	}
}

@media screen and (min-width: 768px) {
	.carousel-caption {
		right: 15%;
		left: 15%;
		padding-bottom: 30px;
		top: 50px;
	}
}

@media screen and (max-width: 500px) {
	.carousel-caption {
		right: 15%;
		left: 15%;
		padding-bottom: 30px;
		top: 50px !important;
	}
}