<section class="section">
	<div style="margin-top: 60px">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 contact" style="padding: 0;">
				<div class="contatct-box-mrg">
					<div class="row text-left col-md-12 col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading text-center" style="background-color: #2a3d63 !important; color: white;">
								<h1>Registration</h1>
							</div>
							<div class="panel-body">
								<div class="col-md-12 col-xs-12 color-white">
									<div class="row text-20">
										<div>
											<label class="label">First Name</label> <input type="text" maxlength="20" class="form-control"
												ng-model="model.firstName" placeholder="First Name">
										</div>
										<div>
											<label class="label">Last Name</label> <input type="text" placeholder="Last Name" maxlength="20"
												class="form-control" ng-model="model.lastName">
										</div>
										<div>
											<label class="label">Email</label> <input type="email" class="form-control" placeholder="Email"
												maxlength="50" ng-model="model.email">
										</div>
										<div>
											<label class="label">Country</label> <input type="text" class="form-control" maxlength="30"
												placeholder="Country" ng-model="model.country">
										</div>
										<div>
											<label class="label">Phone Number</label> <input type="text" class="form-control" maxlength="20"
												placeholder="Phone Number" ng-model="model.phone">
										</div>
									</div>
									<div class="row" style="padding-top: 20px;">
										<button class="btn btn-default btn-info" style="width: 100%; background-color: #2a3d63;" ng-click="register()">
											<b>REGISTER NOW!</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
