
<section date-init="ddMMyyyy">
	<h1>Calander</h1>
	<div class="col-sm-3">
		<div class="form-group">
			<label>date1</label> <input name="model.date1" ng-model="model.date1" class="form-control datepickerInput"
				formatted-date format="dd/MM/yyyy" type="text" />
		</div>
		<!-- uib-datepicker-popup="dd/MM/yyyy" -->
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label>date2</label> <input name="model.date2" ng-model="model.date2" class="form-control datepickerInput"
				formatted-date format="dd/MM/yyyy" type="text" />
		</div>
	</div>
	<button ng-click="foo()">xx</button>
</section>
