<section class="service-bcg">
    <div class="container">
        <section class="padd-top-10 row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="col-sm-12 title-color padd-top-20">
                    <h1 class="title-style padd-btm-20">About Us</h1>
                    <span>
                        Our office is a unique boutique office that emphasizes first and foremost the provision of personal, professional and individual service to its many customers.
This means evaluating and understanding the client's business and operating environment, which is essential for providing effective service tailored to his or her personal needs.
Our offices provide a full range of legal services in Israel and abroad:
1. Expertise in Corporate Law and International Commercial Law - Our firm has extensive experience in this field, which provides international business accompaniment from the stage of their establishment and throughout their current activity, specializing in financial regulation.
Our broad expertise includes: Internet, social media, gaming, etc.
Among the firm's clients are hi-tech companies, start-ups, commercial companies and Internet investments.
One of the most prominent portfolios of the firm is: Gary Kison - which was published in May 2017.
We have been active in the offshore business for many years. In this framework we specialize in complex tax planning of companies and funds in Israel and abroad.

2. Expertise in real estate - Our firm has extensive experience in accompanying real estate transactions in Mazgar Private - contracts for the sale and rental of apartments, plots and commercial properties, including acquisition of properties in receivership, combination transactions, real estate agreements, Personal and maximum availability for all customer needs.

Moreover, our firm also operates in the public sector. As part of this activity, we accompany large construction companies in complex and complex real estate projects in Israel (Tama 38 and Evacuation Construction) and around the world.
                    </span>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 padd-top-20">
                <img class="services-img" src="images/shareholders.jpeg" height="400">
            </div>
        </section>
    </div>
</section>