
<div id="aboutDiv">
	<h1 class="about-title">אודות המשרד</h1>
	<span class="about-title"> משרד עורכי הדין מספק מגוון מלא של שירותים ביחס לפעילות לקוחותיו, בארץ ובחו"ל, לרבות
		אך לא רק, בנושאים מסחריים ואזרחיים. בין לקוחות המשרד היי-טק הן, של סטארט-אפ, חברות מסחר והשקעות באינטרנט ועוד. המשרד
		מלווה גם חברות בנייה גדולות בפרויקטים בתחום הנדל"ן שונים מורכבים ישיר ישראל. משרד עורכי הדין גם להציג ללקוחותיו שירותי
		ייעוץ המס בינלאומיים, היווצרות אמון, היווצרות בינלאומית וחברה, רגולציה פיננסית וכו'.&nbsp; </span>
</div>
<div>
	<img id="officeImg" src="images/office.png" />
</div>