<section class="service-bcg">
    <div class="container">
        <section class="padd-top-10 row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="col-sm-12 title-color padd-top-40">
                    <h1 class="title-style padd-btm-20">Financial And Regulation</h1>
                    <span class="practice-areas-desc">
						<div class="padd-top-10"><b>Licensing Services</b></div>
							Having accumulated a wealth of experience in servicing international
							companies which offer investment and financial services worldwide, Law Barel office can assist
							with the following:
						<ol start="1">
						  <li>The structure and application for a license for EU and non-EU based Investment Firms,
							  Investment Funds, Payment and Electronic Money Institutions,
							Gaming, Corporate Service Providers, Financial Institutions, Insurance Companies and Bank’s
							  inter alia.
						  </li>
						  <li>Advise on the current framework and procedures required in each case based on our
							  experience on the unique way each market participant operates.
							</li>
						  <li>Advise on the activation procedure, based on the applicable license conditions and legal
							  framework requirements.
						  </li>
						  <li>Expand the license, applying for a branch or a representative office,
							  applying of a tied agent or for new licenses in EU and non EU countries
							  (such as UK, Malta, Cyprus, Russia, South Africa, Australia, Ireland, Gibraltar, Belize,
							  BVI, Mauritius, Seychelles, Cayman Islands, Bermuda, New Zealand, Vanuatu, Labuan,
							  Singapore, Luxemburg, Hong Kong).
						  </li>
						</ol>

						<div class="padd-top-10"><b>Internal Audit Services</b></div>
							Law Barel office, provides Internal Audit Services to EU and non EU based
							regulated entities (Investment Firms, Investment Funds, Payment Institutions,
						    Electronic Money Institutions, Municipalities and Quasi-Governmental Organizations,
							Banks and Insurance Companies inter alia) that wish to outsource the Internal Audit
						    Function or to have an external Internal Auditor review their procedures.

						<div class="padd-top-10"><b>Compliance Officer and Compliance Consulting Services</b></div>

			Law Barel office, provides Compliance and Compliance Consulting Services to EU and non EU based
			regulated entities (Investment Firms, Investment Funds, AIFMs, Payment Institutions, Electronic Money Institutions, inter alia) that wish
			to outsource the Compliance Function or to have consulting services and support in relation to compliance matters.

			Compliance and Compliance Consulting Services are offered to EU and on-EU based regulated entities to ensure that they are compliant with the relevant and current
			regulatory requirements. Compliance requirements inter alia are being defined by the EU Markets in Financial Instruments Directive and Regulation (MIFID, MIFID II and MIFIR),
			Basel II and III, Capital Requirements Directive IV and Regulation (CRDIV and CRR), the European Markets Infrastructure Regulation (EMIR), the Foreign Account Tax
			Compliance Act (FATCA), the Alternative Investment Fund Managers Directive (AIFMD) and Anti Money Laundering Legislation.

						<div class="padd-top-10"><b>Risk Management Services</b></div>

			Having serviced numerous Investment Firms, Investment Banks, Electronic Money Institutions and Payment Institutions, Law Barel office, provides dedicated
			active Risk Management and specialized Regulatory Compliance services as follows:
						<ol start="1">
						  <li>Dedicated outsourced Risk Manager officers.</li>
						  <li>Internal Capital Adequacy Assessment Process (ICAAP) and Supervisory Review (SREP) assistance.</li>
						  <li>Regulatory Risk Compliance.</li>
						  <li>Capital Requirements Regulation (CRR) and Directive (CRDIV)</li>
						  <li> European Market Infrastructure Regulation (EMIR).</li>
						  <li>Markets in Financial Instruments Regulation (MiFIR) and Directive (MiFID II).</li>
						  <li>Enterprise Risk Management Consulting.</li>
						</ol>

						<div class="padd-top-10"><b>Regulation and Advisory Services</b></div>
			Law Barel office, provides advice regarding any regulation surrounding companies, ranging from Companies Law, Taxation Law,
			Investment Firms Law, Investment Funds Law across EU and/or Non-EU Jurisdictions and regulations. Also, it provides advice on industry best practices
			that can assist the market participants to be on the forefront of client service and protection.


						<div class="padd-top-10"><b>Corporate Finance</b></div>
			Law Barel office, offers services in relation to Valuations of Entities, Domains, Real Estate via a variety of ways which include inter alia Discounted Cash Flow,
			Transaction Multiples and Trading Multiples. We further advise and assist on Leveraged Buy-Outs, Mergers and Acquisitions and offer Transactional Services.
			These include Financial, Legal, Compliance and Regulatory Due Diligence of Entities and Transactions across jurisdictions and industries.
			Advisory Services:
			Law Barel office takes a client driven approach when offering advisory services to its clients.
			Advice can be provided in setting up the optimum capital structure as well as guidelines on expanding a business by taking into consideration regulatory,
			tax rules and industry trends.

                    </span>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 padd-top-40">
                <img class="services-img" src="images/financial.jpeg" height="400">
            </div>
        </section>
    </div>
</section>