<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="WebContent/CSS/jquery-ui.min.css" />
	
	<meta name="viewport" content="initial-scale=1.0" />
	<link rel="stylesheet" href="CSS/bootstrap.min.css" />
	<link rel="stylesheet" href="CSS/myStyle.css" />
	<link rel="stylesheet" href="CSS/style.css" />
	
	<!-- include jquery js -->
	<script type="text/javascript" src="JS/JQuery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="JS/JQuery/jquery.js"></script>
	<script type="text/javascript" src="JS/JQuery/jquery.ui.map.min.js"></script>
	<script type="text/javascript" src="JS/bootstrap/bootstrap.min.js"></script>
	
	<!-- include angular js -->
	<script type="text/javascript" src="JS/JavaScriptAB.js"></script>

</head>
<body>
	<footer></footer>
	<div class="col-sm-12">
		<div class="row">
			<h1>שלום ציפי</h1>
		</div>
	</div>
	<div class="footer"></div>

</body>

<!-- <body class="backgroundColor">
    <nav id="newHeadBar" class="navbar navbar-default navbar-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="contact" class="yellow">צור קשר</a></li>
                <li><a class="newa" href="#bla">תחומי פעילות</a></li>
                <li><a class="newa" href="aboutHe.html">אודות המשרד</a></li>
                <li><a class="newa" href="HomeP.html">דף הבית</a></li>
                <li><img id="logo" class="signature" src="images/hebrewLogo2.png" /></li>
            </ul>
        </div>
        <div>
            <img id="ISR-lan" src="images/Israel-icon.png"/>
            <img id="USA-lan" src="images/USA-icon.png"/>
        </div>
    </nav>
    <div id="homePageImages">
        <img id="image" src="images/bard.png" alt="pic" width="800" height="350" />
    </div>
    <div id="contactDiv">
        <h1 id="contactHead">צור קשר</h1>
        <h1 id="addressHead" class="address">כתובת</h1>
        <div>
            <input id="name" class="inputs" type="text" placeholder="שם מלא" />
        </div>
        <div>
            <input id="email" class="inputs" type="text" placeholder="כתובת אימייל" />
        </div>
        <div>
            <input id="phone" class="inputs" type="text" placeholder="טלפון ליצירת קשר" />
        </div>
        <div>
            <textarea rows="8" cols="22" id="message" class="inputs" placeholder="הודעה"></textarea>
        </div>
        <div>
            <input id="subject" class="inputs" placeholder="נושא" />
        </div>
        <div>
            <button id="send" class="btn btn-info">שליחה</button>
        </div>
        <p id="street" class="address">דרך השלום 7א, תל אביב</p>
        <p id="building" class="address">ישראל</p>
        <div id="map-canvas" class="address"></div>
    </div>
    <div class="bottomFooter">
        <h1>משרד ע"וד דוד בר-אל </h1>
        <h2>דרך השלום 7א, תל אביב</h2>
        <p>
            <span>
                Email: law.barel@gmail.com
            </span>
            <span>
                |  phone: +972(54)5882095
            </span>
            <span>
                |  Fax: +972-153-77-5620060
            </span>
        </p>
    </div>
    <script>

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: new google.maps.LatLng(31.9507, 34.8869),//{ lat: -34.397, lng: 150.644 },
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD85gyhxftd1MblVp_mMvNzDnJ79cblQoI&callback=initMap"></script>
</body> -->
</html>

