<div class="carousel-inner" role="listbox">
	<div class="image-box">
		<h1 class="image-h1 top-50-prc">David Bar-El and Co.</h1>
		<h1 class="image-h1">Law Firm</h1>
		<p class="image-span">Specializing in Commercial Law & Litigation</p>
		<p class="image-span">Insolvency & Fraud</p>
	</div>
	<div class="item active">
		<img class="carousel-height" src="images/city.png">
		<div class="carousel-caption">
			<div class="container">
				<span class="color-white"></span>
			</div>
		</div>
	</div>
</div>
<div class="practice-areas-box">
	<div class="parctice-title-box">
		<h1 class="title-prc-h1" style="margin-top: 10%;">PRACTICE</h1>
		<h1 class="title-prc-h1">AREAS</h1>
	</div>
	<div class="parctice-list-box">
		<ul class="ul-style">
			<li class="practice-li">
				<h3 class="list-title">LITIGATION</h3>
				<span class="list-desc">Comprehensive and reliable advocacy throughout the entire litigation process.</span>
			</li>
			<li class="practice-li">
				<h3 class="list-title">BUSINESS</h3>
				<span class="list-desc">Personalized and strategic guidance for complete coverage of business needs.</span>
			</li>
			<li class="practice-li">
				<h3 class="list-title">TAX</h3>
				<span class="list-desc">Experienced counsel to successfully navigate through the complex tax system.</span>
			</li>
		</ul>
	</div>
</div>
<div class="about-box">
	<div class="container">
		<div class="padd-top-40">
			<h1 class="about-title">About Us</h1>
			<p class="about-desc">The law office provides a full range of services with respect to its clients activities,
				both in israel and abroad, including but not limited, in comemercial and civil matters. Among the firm's clients are
				Hi-tech, start-up's, online trading and ivestments firms and others. the office also accompanies big construction
				firms in complex various real estate projects in isreal. the law office also introduce its clients with an
				international tax consultancy services, trust formation, international and company formation, financial regulation
				etc.
			<p>
		</div>
	</div>
</div>
<div class="attorneys-box">
	<div class="container">
		<div class="col-sm-12 col-xs-12">
			<div class="padd-top-40">
				<h1 class="att-title">OUR PARTNERS</h1>
				<img src="images/bard2.jpg" />
				<h3 class="att-h3">David Bar-El</h3>
				<h4 class="att-h4">Founder and CEO.</h4>
			</div>
		</div>
	</div>
</div>