<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="carousel-inner" role="listbox">
            <div class="image-box col-md-4 col-sm-4 col-xs-12">
                <h1 class="image-h1 top-50-prc">David Bar-El and Co.</h1>
                <h1 class="image-h1">Law Firm</h1>
                <p class="image-span">Specializing in Commercial Law & Litigation</p>
                <p class="image-span">Insolvency & Fraud</p>
            </div>
            <div class="item active">
                <img class="carousel-height" src="./images/ny-night.jpeg">
                <!-- city.png -->
                <div class="carousel-caption">
                    <div class="container">
                        <span class="color-white"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="practice-areas-box">
            <div class="practice-title-box col-md-4 col-sm-4 col-xs-12">
                <h1 class="title-prc-h1" style="margin-top: 10%;">PRACTICE</h1>
                <h1 class="title-prc-h1">AREAS</h1>
            </div>
            <div class="parctice-list-box col-md-4 col-sm-4 col-xs-12">
                <ul class="ul-style">
                    <li class="practice-li">
                        <h3 class="list-title">Formation & Administration</h3>
                        <span class="list-desc">Our law office can assist you in registering a company in almost all of
                            the offshore jurisdictions in the world</span>
                    </li>
                    <li class="practice-li">
                        <h3 class="list-title">Trust Formation</h3>
                        <span class="list-desc">Our company works directly with licensed Trust Service Providers all over the world,
                            and offer a wide range of bespoke trust services to suit the requirements of our various clients.</span>
                    </li>
                    <li class="practice-li">
                        <h3 class="list-title">Consulting & legal</h3>
                        <span class="list-desc">David Bar-El and Co law offices, is a prominent and highly respected law firm,
                            with international reputation With accompanying offshore companies and online international business.</span>
                    </li>
                </ul>
            </div>
            <div class="parctice-list-box height-400 col-md-4 col-sm-4 col-xs-12">
                <ul class="ul-style">
                    <li class="practice-li">
                        <h3 class="list-title">Directors Shareholders Services</h3>
                        <span class="list-desc">Nominee service is an intermediary ownership and management tool,
                            meaning the appointment to official positions in the companyXX, or as a shareholder,
                            nominee persons, both physical and legal</span>
                    </li>
                    <li class="practice-li">
                        <h3 class="list-title">Financial & Regulation</h3>
                        <span class="list-desc">Licensing Services Having accumulated a wealth of experience in servicing
                            international companies which offer investment and financial services worldwide.</span>
                    </li>
                    <li class="practice-li">
                        <h3 class="list-title">Bank Account Operations</h3>
                        <span class="list-desc">Assisting with opening a corporate bank account for your new company.
                            All bank accounts include the provision of internet banking as standard.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about-box col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="padd-top-40">
                    <h1 class="box-title">ABOUT US</h1>
                    <p class="about-desc">The law office provides a full range of services with respect to its clients
                        activities,
                        both in israel and abroad, including but not limited, in comemercial and civil matters. Among
                        the firm's clients
                        are Hi-tech, start-up's, online trading and ivestments firms and others. the office also
                        accompanies big
                        construction firms in complex various real estate projects in isreal. the law office also
                        introduce its clients
                        with an international tax consultancy services, trust formation, international and company
                        formation, financial
                        regulation etc.
                    <p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="attorneys-box col-md-12 col-sm-12 co-xs-12">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="padd-top-40">
                        <h1 class="att-title">OUR PARTNERS</h1>
                        <img src="images/bard2.jpg"/>
                        <h3 class="att-h3">David Bar-El</h3>
                        <h4 class="att-h4">Founder and CEO.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="articles-box col-md-12 col-sm-12 co-xs-12">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="padd-top-40">
                        <h1 class="att-title" style="text-align: center">ARTICLES</h1>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="https://www.calcalist.co.il/internet/articles/0,7340,L-3713650,00.html"
                               target="_blank">
                                <img class="article-img " src="images/article1.png"/>
                                <h3 class="att-h3">403 million $:Israeli will pay a record fine to the United
                                    States</h3>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="http://www.news1.co.il/Archive/001-D-390188-00.html" target="_blank">
                                <img class="article-img " src="images/article2.PNG"/>
                                <h3 class="att-h3">
                                    James Azar claims 3.5 million NIS from Azriel Shandberg</h3>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="https://publica.com/html" target="_blank">
                                <img class="article-img " src="images/article2.PNG"/>
                                <h3 class="att-h3">taking care of cryptocurrency and ico projects</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 contact" style="padding: 0;">
            <div class="col-md-4 col-sm-4 col-xs-12 contact-title-box">
                <div class="box-title title-prc-h1 contatct-box-mrg">CONTACT US</div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 contact-info-box">
                <div class="container contatct-box-mrg">
                    <div class="row text-left col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 color-white">
                            <div class="text-20">
                                <div class="form-group">
                                    <span class="fa fa-home padd-right-5 width-25"></span> <span>Ariel Sharon St. 4, Givatayim, HaShachar Tower, 12 floor</span>
                                </div>
                            </div>
                            <div class="text-20">
                                <div class="form-group">
                                    <span class="fa fa-phone padd-right-5 width-25"></span> <span>+972-733744463</span>
                                </div>
                            </div>
                            <div class="text-20">
                                <div class="form-group">
                                    <span class="fa fa-mobile padd-right-5 width-25"></span> <span>+972-545882095</span>
                                </div>
                            </div>
                            <div class="text-20">
                                <div class="form-group">
                                    <span class="fa fa-fax padd-right-5 width-25"></span> <span>+972-545882095</span>
                                </div>
                            </div>
                            <div class="text-20">
                                <div class="form-group">
                                    <span class="fa fa-envelope padd-right-5 width-25"></span>
                                    <span>law.barel@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-20 color-white padd-btm-10 padd-20">Send us message now</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="clearLeft">
                            <div class="form-group">
                                <input ng-model="name" placeholder="NAME" type="text" class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="clearLeft">
                            <div class="form-group">
                                <input ng-model="subject" placeholder="SUBJECT" type="text" class="form-control"
                                       type="text"/>
                            </div>
                        </div>
                        <div class="clearLeft">
                            <div class="form-group">
                                <input ng-model=email placeholder="EMAIL" class="form-control" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <textarea ng-model="message" type="text" placeholder="MESSAGE"
                                      class="message-text-area form-control"></textarea>
                        </div>
                        <div class="align-right">
                            <button class="btn btn-default btn-send">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
