<section class="service-bcg">
    <div class="container">
        <section class="padd-top-10 row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="col-sm-12 title-color padd-top-40">
                    <h1 class="title-style padd-btm-20">Trust Formation</h1>
                    <span class="practice-areas-desc">{{trustFormation}}</span>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <img class="services-img" src="images/trust.jpeg" height="400">
            </div>
        </section>
    </div>
</section>