<div style="margin-top: 100px; height: 500px">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img class="carousel-height" src="images/image7.jpg">
					</div>
					<div class="item">
						<img class="carousel-height" src="images/bitcoin6.jpg">
					</div>
					<div class="item">
						<img class="carousel-height" src="images/image8.jpg">
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="fa fa-cheveron fa-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="fa fa-cheveron fa-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>
<div style="height: 825px; background-color: #eaf4f6">
	<div class="container">
		<section class="section">
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<h1 style="">BITCOIN IS UNSTOPABLE!</h1>
					</div>
					<h3>Grab your opportunity to trade with us the currency of the future.</h3>
					<p style="font-size: 20px;">There's no faster growing industry on earth as Cryptocurrencies It's basically a
						new era of economics ,Bitcoin has been the best performing currency in the world for four of the past five years.
						Ethereum has shot up 100x in a year, Ripple is being used by over 75 banks across approximately 27 countries, and
						Dash will soon be rivalling Venmo and PayPal on a global scale. Cryptocurrency is becoming a "flight to safety"
						asset performing exceptionally well during periods of global turmoil. In 2015, during the economic collapse in
						Greece, Bitcoin rose sharply. When the government went bankrupt and all depositors accounts were frozen. There was
						only one way to obtain any sort of currency. With only one Bitcoin ATM in Cyprus, people stood in lines for hours
						around three city blocks to access the lone oasis of liquidity in the entire country. If war broke out between the
						United States and North Korea, during, and after, traditional markets will crash, and demand for cryptocurrency
						will soar. Savvy investors are hedging their bets, moving parts of their portfolio into cryptocurrency, and
						securing it in hardware wallets for protection. Starting the year with 1000$ bitcoin became the fastest growing
						the world's most valuable circulating currency Bitcoin surged more than 20% in the last few days. It is up nearly
						50% in the month of December alone. The digital asset is at another record high, on its way to $15,000 with no
						signs of stopping before launching bitcoin futures. The launch of two bitcoin futures exchanges by CBOE and CME by
						mid-December boost the price. Two of the largest options exchange in the global finance market, will immediately
						provide institutional and retail investors with sufficient liquidity and robust infrastructure to invest in
						bitcoin.</p>
					<h3 style="font-weight: bold;">Join millions who made money investing in bitcoin!</h3>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="col-sm-12 col-xs-12">
	<div class="col-sm-12 col-xs-12">
		<h1 class="text-center">WHY TRADE WITH US</h1>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<ul class="ul-style">
					<li class="practice-li">
						<h3 class="list-title">FAST</h3>
						<span class="list-desc">30 seconds of registration</span>
					</li>
					<li class="practice-li">
						<h3 class="list-title">SIMPLE</h3>
						<span class="list-desc">One click trading from your PC/mobile</span>
					</li>
					<li class="practice-li">
						<h3 class="list-title">24/7</h3>
						<span class="list-desc">Trading our crypto currency</span>
					</li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<ul class="ul-style">
					<li class="practice-li">
						<h3 class="list-title">Professionalism</h3>
						<span class="list-desc">Devoted account managers in 12 languages, with personal attention, deep market
							knowledge and 24/5 accessibility and high level customer service, assisting in every question.</span>
					</li>
					<li class="practice-li">
						<h3 class="list-title">Leadership</h3>
						<span class="list-desc">A leading broker, with a global presence and over 200,000 trusting clients
							worldwide.</span>
					</li>
					<li class="practice-li">
						<h3 class="list-title">Low Risk</h3>
						<span class="list-desc">Highly competitive spreads</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 contact" style="padding: 0;">
	<div class="col-md-4 contact-title-box" style="background: url(images/bitcoin5.jpg) center center/100% no-repeat;">
		<div class="box-title title-prc-h1 contatct-box-mrg">JOIN US</div>
		<div class="box-title title-prc-h1">TODAY!</div>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-12 contact-info-box">
		<div class="container contatct-box-mrg">
			<div class="row text-left col-md-12 col-sm-12">
				<div class="col-md-12 col-xs-12 color-white">
					<div class="row text-20">
						<label class="label">First Name</label> <input type="text" class="form-control" ng-model="firstName"> <label
							class="label">Last Name</label> <input type="text" class="form-control" ng-model="lastName"> <label
							class="label">Email</label> <input type="text" class="form-control" ng-model="email"> <label
							class="label">Country</label> <input type="text" class="form-control" ng-model="country"> <label
							class="label">Phone Number</label> <input type="text" class="form-control" ng-model="phone">
					</div>
					<div class="row" style="padding-top: 20px;">
						<button class="btn btn-default btn-info" style="width: 100%; background-color: #2a3d63;">
							<b>REGISTER NOW!</b>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<!-- <div style="background-color: #383b41; background: url(images/bitcoin5.jpg) center center/100% no-repeat;">
	<div class="container">
		<section class="section">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row text-center">
						<h1 style="color: white;">JOIN TODAY!</h1>
					</div>
					<div class="row text-20">
						<label class="label">First Name</label> <input type="text" class="form-control" ng-model="firstName"> <label
							class="label">Last Name</label> <input type="text" class="form-control" ng-model="lastName"> <label
							class="label">Email</label> <input type="text" class="form-control" ng-model="email"> <label
							class="label">Country</label> <input type="text" class="form-control" ng-model="country"> <label
							class="label">Phone Number</label> <input type="text" class="form-control" ng-model="phone">
					</div>
					<div class="row" style="padding-top: 20px;">
						<button class="btn btn-default btn-info" style="width: 100%; background-color: #2a3d63 !important;">
							<b>REGISTER NOW!</b>
						</button>
					</div>
				</div>
			</div>
		</section>
	</div>
</div> -->