<section class="service-bcg">
	<div class="container">
		<section class="padd-top-10 row">
			<div class="col-sm-8 col-xs-12">
				<div class="col-sm-12 title-color padd-top-40">
					<h1 class="title-style padd-btm-20">Formation and administration Services:</h1>
					<h3 class="title-style padd-btm-10">Offshore company formation:</h3>
					<span>{{formation_and_administraion1}}</span>
					<h3 class="title-style padd-btm-10">Onshore:</h3>
					<span>{{formation_and_administraion2}}</span>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 "><img class="services-img" src="images/city.jpg" height="400"></div>
		</section>
	</div>
</section>
